/* GENERELT */

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
	overflow-x: hidden;
}

/* TYPOGRAFI */

h1 {
	font-size: 2rem;
	font-family: 'Josefin Sans', sans-serif;
	color: #000;
	margin: 0;
}

h2 {
	font-size: 1.5rem;
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 0;
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p {
	font-family: 'Quicksand', sans-serif;
}

h4 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 500;
	color: #FAC177;
	text-transform: uppercase;
}

.header_text {
	text-align: left;
	position: absolute;
	top: 200px;
	margin-left: 25px;
	z-index: 10;
}

.header_text h1 {
	color: #fff;
	font-size: 50px;
	text-transform: uppercase;
}

.header_text h2 {
	margin-left: 5px;
	color: #fff;
	font-size: 30px;
}

/* STYLING AF ELEMENTER */

#intro .heading_intro {
	max-width: 630px;
	margin: 0 auto;
}

#intro {
	background-color: #f2f2f2;
	padding-top: 20px;
	padding-bottom: 60px;
}

#intro .row {
	text-align: center;
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px 20px;
	padding-bottom: 50px;
}

#intro h4 {
	color: #000;
	margin-bottom: 50px;
	font-weight: 400;
}

#intro h1 {
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 1.6px;
}

#icon_box {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 2em;
}

#icon_box .column img {
	width: 100px;
	margin-bottom: 20px;
}

#facts {
	background-color: #ffffff;
	padding: 40px 0;
}

#facts .row {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	grid-gap: 3em;
	max-width: 1100px;
	margin: 0 auto;
	padding: 30px 0px;
}

#facts .row .info_img img {
	width: 80px;
	margin-left: 30px;
	margin-right: 20px;
}

#facts .row .info_img2 img {
	width: 140px;
	margin-right: 20px;
	margin-left: -30px;
}

#facts h1 {
	color: #FAC177;
}

#facts .orange_text {
	color: #FAC177 !important;
}

#facts .mini_row {
	display: flex;
}

#facts .mini_row:first-child {
	margin-bottom: 50px;
}

#info_boxes {
	background-color: #f2f2f2;
	padding-top: 30px;
	padding-bottom: 70px;
}

#info_boxes .first_row {
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 20px;
}

#info_boxes .row {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 2em;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0px 0px;
}

#info_boxes .column {
	text-align: center;
}

#info_boxes h4 {
	color: #093A82;
	display: inline-block;
}

#info_boxes .first_row p {
	display: inline-block;
	float: right;
}

#info_boxes p {
	margin-top: 10px;
}

#info_boxes img {
	width: 250px;
}

#info_boxes h2 {
	text-align: center;
	margin-left: 20px;
	color: #ffffff;
	position: absolute;
	font-size: 18px;
	margin-top: -55px;
}

.reason {
	width: 100%;
}

#info_boxes .first-line {
	text-align: center;
	margin-top: -40px;
}

#info_boxes .second-line {
	margin-top: -40px;
}

#info_boxes .third-line {
	margin-top: -40px;
}

#info_boxes .fourth-line {}

#orange_box {
	border-top: 70px solid #BEE0D9;
	background: rgb(250, 193, 119);
	background: -moz-linear-gradient(180deg, rgba(250, 193, 119, 1) 0%, rgba(227, 160, 72, 1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(250, 193, 119, 1) 0%, rgba(227, 160, 72, 1) 100%);
	background: linear-gradient(180deg, rgba(250, 193, 119, 1) 0%, rgba(227, 160, 72, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fac177", endColorstr="#e3a048", GradientType=1);
	padding-bottom: 80px;
}

#orange_box .row {
	text-align: center;
	max-width: 1100px;
	margin: 0 auto;
	padding: 40px 20px;
}

#orange_box h4 {
	color: #000;
	font-weight: 400;
}

#orange_box h1 {
	color: #000;
	padding: 20px 0;
}

.label img {
	width: 290px;
	position: absolute;
	margin-left: 350px;
	margin-top: -70px;
}

#orange_box .news_row {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 4em;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0px 0px;
}

#orange_box .news_row img {
	width: 100%;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 15px 0px rgba(138, 138, 138, 1));
}

.news_row .date {
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	letter-spacing: 1px;
	margin-top: -70px;
	margin-left: 20px;
	color: #fff !important;
}

.news_row .title {
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	margin-top: -40px;
	margin-left: 20px;
	color: #fff !important;
}

#infographics {
	background-color: #fff;
	padding-bottom: 80px;
}

#infographics .row {
	max-width: 1100px;
	margin: 0 auto;
	padding: 50px 0px;
}

button {
	/* Knapper styling */
	font-family: 'Quicksand', serif;
	font-size: 1rem;
	font-weight: 400;
	padding: 5px 43px;
	border: none;
	background-color: #093A82;
	border-radius: 5px;
	color: #fff;
	margin-bottom: 8px;
	cursor: pointer;
	margin-top: 20px;
}

button:hover {
	filter: brightness(115%);
}

button:focus {
	outline: 0;
}

.active {
	color: #E5A32C;
}

.menu_links {
	float: right;
}

.menu_links li a {
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	font-weight: 400;
	text-decoration: none;
}

header {
	width: 100vw;
	height: 500px;
	background-image: url(../img/splash_bg.jpg);
	background-size: cover;
	background-position: 0 80%;
	background-attachment: fixed;
	text-align: center;
	border-bottom: 70px solid #BEE0D9;
}

.overlay {
	width: 100vw;
	height: 430px;
	background-color: #093A82;
	opacity: 0.5;
	position: relative;
}

.heading {
	text-align: center;
	height: 89px;
	padding-top: 22px;
	font-size: 1.9rem;
	font-family: 'Reenie Beanie', cursive;
}

#topbar {
	height: 80px;
	background-color: #fff;
	text-align: center;
}

.logo {
	color: #fff;
	float: left;
	margin-top: 20px;
	margin-left: 40px;
}

nav {
	width: 100%;
	list-style: none;
	height: 50px;
	position: absolute;
	z-index: 100;
	margin-top: 10px;
}

nav .row {
	max-width: 1100px;
	margin: 0 auto;
}

header .header_can {
	position: absolute;
	top: 100px;
	margin-left: 200px;
	z-index: 4;
	width: 250px;
}

header .row {
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
}

#play {
	cursor: pointer;
}

.play_img {
	width: 150px;
}

.play {
	text-align: left;
	margin-left: 20px;
	margin-top: -90px;
	position: absolute;
}

nav li {
	font-weight: 700;
	display: inline-block;
	margin-right: 40px;
}

footer {
	background-color: #fff;
	padding-bottom: 25px;
	max-width: 1100px;
	margin: 0 auto;
	color: #000;
	padding: 20px 0;
}

footer .row {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	grid-gap: 2em;
	grid-template-areas:
		". .";
}

.align_left {
	text-align: left;
}

.align_center {
	text-align: center;
}

.align_right {
	text-align: right;
}

/* BURGER MENU */
.burger_menu {
	display: none;
}

.overlays {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	background-color: #BEE0D9;
	overflow-x: hidden;
	transition: 0.7s;
	-webkit-box-shadow: 0px 0px 15px 0px (138, 138, 138, 0.4);
	-moz-box-shadow: 0px 0px 15px 0px rgba(138, 138, 138, 0.4);
	box-shadow: 0px 0px 15px 0px rgba(138, 138, 138, 0.4);
}

.overlays-content {
	position: relative;
	top: 100px;
	text-align: left;
	margin-top: 30px;
	list-style: none;
}

.overlays a {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-decoration: none;
	color: #000;
	display: block;
	padding: 8px;
}

.overlays a:hover {
	color: #0a0a0a;
}

#closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 45px;
	cursor: pointer;
}

#openbtn {
	color: #fff;
	position: absolute;
	top: 25px;
	left: 25px;
	font-size: 30px;
	cursor: pointer;
}

.overlays-content li {
	display: inline-block !important;
}

/* ----------- MODAL ----------- */

.modal {
	display: none;
	position: fixed;
	z-index: 10;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 0px;
	width: 60%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* ----------- MEDIAQUERIES ----------- */

@media screen and (max-width: 1150px) {
	#info_boxes .first_row {
		padding: 20px;
	}

	#info_boxes .row {
		padding: 20px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 2em;
		width: 100%;
		margin-right: 20px;
	}

	#info_boxes .row img {
		width: 100%;
	}

	#orange_box .news_row {
		padding: 20px;
		grid-gap: 0em;
	}

	#infographics .row {
		padding: 20px;
	}

	footer .row {
		padding: 20px;
	}

	#facts .row {
		padding: 20px;
	}

	#facts .row {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		grid-gap: 3em;
		max-width: 1100px;
	}
}

@media screen and (max-width: 970px) {

	/* Første skæringspunkt: header */

	header .header_can {
		position: absolute;
		top: 100px;
		margin-left: 80px;
		z-index: 4;
		width: 250px;
	}
}

@media screen and (max-width: 889px) {
	#facts .row .info_img2 img {
		width: 110px;
		margin-right: 20px;
		margin-left: 0px;
	}
}

@media screen and (max-width: 768px) {

	nav .row {
		display: none;
	}

	.burger_menu {
		display: block;
	}

	#info_boxes .row {
		padding: 20px;
		margin-right: 20px;
		grid-gap: 2em;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}

	#info_boxes .row img {
		width: 100%;
	}

}

@media screen and (max-width: 730px) {
	/* Første skæringspunkt til tablet: header */

	header {
		text-align: center;
		height: 600px;
	}

	.overlay {
		height: 532px;
	}

	header .header_text {
		top: 0px;
		margin-left: 25%;
		margin-top: 70px;
		text-align: center;
	}

	header .header_can {
		position: absolute;
		margin-left: -21%;
		margin-top: 320px;
		width: 250px;
	}

	.play {
		margin-top: -320px;
		margin-left: 39%;
	}

	#intro {
		padding-top: 270px;
	}

}

@media screen and (max-width: 650px) {
	header {
		height: 700px;
	}

	.overlay {
		height: 632px;
	}

	header .row {
		width: 100%;
	}

	header .header_text {
		top: 0px;
		margin-left: 21%;
		margin-top: 70px;
		text-align: center;
	}

	header .header_can {
		position: absolute;
		margin-left: -25%;
		margin-top: 320px;
		width: 250px;
	}

	.play {
		margin-top: -410px;
		margin-left: 37%;
	}

	#intro {
		padding-top: 200px;
	}

}

@media screen and (max-width: 550px) {
	header .header_can {
		position: absolute;
		margin-left: -27%;
		margin-top: 320px;
		width: 250px;
	}

	header .header_text {
		top: 0px;
		margin-left: 17%;
		margin-top: 70px;
		text-align: center;
	}

	.play {
		margin-top: -410px;
		margin-left: 35%;
	}
}

@media screen and (max-width: 500px) {
	header .header_can {
		position: absolute;
		margin-left: -30%;
		margin-top: 320px;
		width: 250px;
	}

	header .header_text {
		margin-left: 15%;
	}
}

@media screen and (max-width: 450px) {
	header .header_can {
		position: absolute;
		margin-left: -35%;
		margin-top: 320px;
		width: 250px;
	}

	header .header_text {
		margin-left: 12%;
	}

	.play {
		margin-left: 30%;
	}
}

@media screen and (max-width: 450px) {

	#info_boxes p {
		display: none;
	}

	#info_boxes .row {
		padding: 20px;
		margin-right: 20px;
		display: block;
	}

	#info_boxes .first_row p {
		display: block;
		float: left;
		margin-top: -10px;
	}

	#info_boxes h4 {
		color: #093A82;
		display: block;
		margin-bottom: -20px;
	}

	button {
		width: 100%;
	}

	#facts .row {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 3em;
		max-width: 1100px;
	}

	#info_boxes {
		padding-bottom: 20px;
	}

	#info_boxes .column img {
		width: 100%;
	}

	#facts .row img:last-child {
		margin-top: 30px;
	}

	#orange_box {
		padding-bottom: 0px;
	}

}

@media screen and (max-width: 420px) {
	header .header_text {
		top: 0px;
		margin-left: 10%;
		margin-top: 70px;
		text-align: center;
	}

	.header_text h1 {
		font-size: 48px;
	}
}

@media screen and (max-width: 393px) {
	header .header_can {
		position: absolute;
		margin-left: -39%;
		margin-top: 400px;
		width: 250px;
	}

	header .header_text {
		top: 0px;
		margin-left: 3%;
		margin-top: 70px;
		text-align: center;
	}

	.header_text h1 {
		font-size: 55px;
		margin-bottom: 25px;
	}

	.play {
		margin-top: -340px;
		margin-left: 30%;
	}

	#intro {
		padding-top: 280px;
	}

}

@media screen and (max-width: 375px) {
	header .header_can {
		position: absolute;
		margin-left: -40%;
		width: 250px;
	}

	header .header_text {
		top: 0px;
		margin-left: 2%;
		margin-top: 70px;
		text-align: center;
	}

}
